<div>
    <h3>Filtrer les sites</h3>
    <form action="{{ path('app_site') }}" method="post" class="d-flex flex-row gap-3 mt-3">
        <label for="searchSitName">Le nom contient : </label>
        <input type="text" id="searchSitName" class="form-control w-25" name="sitName">
        <button type="submit" class="btn btn-primary">Recherche</button>
    </form>
</div>
