<div class="row" id="msg">
    <div class="col-6 offset-3">
        {% for type, messages in app.flashes %}
            <div class="alert alert-{{ type }} flash-message">
                <ul>
                    {% for message in messages %}
                        <li class="list-group-item">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>