.togglePublier {
    height: 10%;
}
.flash-message {
    transition: opacity 1s ease;
}

#inputPublier{
    width: 12%;
    height: 75%;
}

header {
    height: 7vh;
}

main {
    height: 86vh;
}

footer {
    height: 7vh;
}

.mobile-home {
    height: 80vh;
}

.table-header-fixed {
    position: sticky;
    top: 0;
    z-index: 1000;
}