.togglePublier {
    height: 10%;
}
.flash-message {
    transition: opacity 1s ease;
}

#inputPublier{
    width: 12%;
    height: 75%;
}

header {
    height: 7vh;
}

main {
    height: 86vh;
}

footer {
    height: 7vh;
}

.mobile-home {
    height: 80vh;
}

@media (min-width: 992px) {
    .w-media-1 {
        width: 25% !important;
    }
}

@media (max-width: 991px) {
    .w-media-1 {
        width: 75% !important;
    }
}