{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <h1 class="text-center mt-3">Modifier la sortie</h1>
        {% include 'trip/_form.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/addTrip.js") }}"></script>
{% endblock %}